<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputProduto">Produto</label>
            <input [(ngModel)]="produto.nome" type="text" class="form-control" id="inputProduto" placeholder="Mesa">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPreco">Preço</label>
            <input [(ngModel)]="produto.preco" type="text" class="form-control" id="inputPreco" placeholder="250,00">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDetalhes">Detalhes</label>
        <input [(ngModel)]="produto.detalhes" type="text" class="form-control" id="inputDetalhes" placeholder="O produto é...">
    </div>
    <div class="form-group">
        <label for="inputModelo">Modelo</label>
        <input [(ngModel)]="produto.modelo" type="text" class="form-control" id="inputModelo" placeholder="Cardigã 7405">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputMaterial">Material</label>
            <input [(ngModel)]="produto.material" type="text" class="form-control" id="inputMaterial" placeholder="Algodão">
        </div>
        <div class="form-group col-md-4">
            <label for="inputLavagem">Lavagem</label>
            <input [(ngModel)]="produto.lavagem" type="text" class="form-control" id="inputLavagem" placeholder="Lavar na máquina">
        </div>
    </div>

    <div class="form-row">
        <div class="custom-file col-md-6">
            <input (change)="mudouarquivo($event)" type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Escolha um arquivo de foto...</label>
            <div class="invalid-feedback">Adicionar arquivo de foto...</div>
        </div>
    </div>
    <br>
    <div class="form-row">
        <button (click)="salvar()" type="submit" class="btn btn-primary">Sign in</button>
    </div>
</div>