<!-- Menu -->
<app-nav></app-nav>

<div class="container">
    
    <!-- Inicio linha destaque   -->
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <!-- Inicio barralateral -->
            <nav id="sidebar">
                <form class="form-inline my-2 my-lg-0">
                    <input id="buscar" class="busca form-control my-2 my-sm-0 m-2" type="search"
                        placeholder="Search" aria-label="Search">
                    <button class="buscar-botao btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search</button>
                </form>

                <div class="sidebar-header">
                    <h2>Departamentos</h2>
                </div>

                <ul class="list-unstyled components">
                    <li class="active"><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Blusas e Camisas</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Manga Curta</a></li>
                            <li> <a href="#">Manga Comprida</a> </li>
                            <li><a href="#">Camisa Social</a></li>
                            <li><a href="#">Camisa Casual</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Calças</a></li>
                    <li><a href="#">Saias</a></li>
                    <li> <a href="#">Vestidos</a></li>
                    <li> <a href="#">Sapatos</a></li>
                    <li> <a href="#">Bolças e Carteiras</a></li>
                    <li> <a href="#">Acessórios</a></li>
                </ul>
            </nav>
            <!-- Fim barralateral -->
        </div>
        <!-- Inicio img destaque -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <img src="../assets/destaque-home.png" class="img-fluid" alt="Responsive image">
        </div>
        <!-- Inicio img destaque -->
    </div>
    <!-- Fim linha destaque -->
    <!-- Inicio mostra de produtos -->
    <div class="row">
        <!-- Inicio da div novidades  -->
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 painel novidades">
            <h2>Novidades</h2>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <!--Inicio exemplo valido -->
                    <a href="#">
                        <figure class="figure">
                            <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded"
                                alt="Produto">
                            <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                        </figure>
                    </a>
                    <!--Fim exemplo valido -->
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!-- Fim da div novidades  -->
        <!-- Espaço -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <!-- Fim Espaço -->
        <!-- Inicio da div mais vendidos   -->
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 painel mais-vendidos">
            <h2>Mais Vendidos</h2>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="#">
                        <figure class="figure">
                            <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded"
                                alt="Produto">
                            <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure class="figure">
                        <img src="../assets/miniatura1.png" class="figure-img img-fluid rounded" alt="Produto">
                        <figcaption class="figure-caption">Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!-- Fim da div mais vendidos   -->
    </div>
    <!-- Fim mostra de produtos -->
</div>
<!-- Footer -->
<app-footer></app-footer>