<div class="container" *ngFor="let p of postProdutos">
	<div class="alert alert-secondary" role="alert" *ngIf="testeCliente">
		Informações do Cliente inválidas
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<figure class="figure">
				<img src="/storage/{{p.arquivo}}" class="figure-img img-fluid rounded" alt="Produto">
			</figure>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<dl>
				<dt>Produto</dt>
				<dd>{{p.nome}}</dd>
				<dt>Tamanho</dt>
				<dd>40</dd>
				<dt>Preço</dt>
				<dd id="preco">R$ {{p.preco}}</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<legend>Dados pessoais</legend>

			<div class="form-group">
				<label for="nome">Nome completo</label>
				<input type="text" class="form-control" id="nome" name="nome" autofocus required>
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input [(ngModel)]="usuario.email" type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
			</div>

			<div class="form-group">
				<label for="cpf">CPF</label>
				<input [(ngModel)]="usuario.cpf" type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" required>
			</div>

			<div class="form-group custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="newsletter" value="sim" checked>

				<label class="custom-control-label" for="newsletter">
					Quero receber Newsletter da Mirror Fashion
				</label>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<legend>Cartão de crédito</legend>

			<div class="form-group">
				<label for="numero-cartao">Número - CVV</label>

				<input type="text" class="form-control" id="numero-cartao" name="numero-cartao"
					data-mask="9999 9999 9999 9999 - 999">
			</div>

			<div class="form-group">
				<label for="bandeira-cartao">Bandeira</label>

				<select class="custom-select" id="bandeira-cartao">
					<option disabled selected>Selecione uma opção...</option>
					<option value="master">MasterCard</option>
					<option value="visa">VISA</option>
					<option value="amex">American Express</option>
				</select>
			</div>
			<div class="form-group">
				<label for="validade-cartao">Validade</label>

				<input type="month" class="form-control" id="validade-cartao" name="validade-cartao">
			</div>
			<div class="form-group">
				<button (click)="vender()" type="submit" class="comprar btn btn-success">Comprar</button>
			</div>
		</div>
	</div>
</div>