.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

h1 {
    font-size: 4.0em;
    font-weight: bold;
}

p {
    font-size: 2.0em;
    font-style: italic;
    margin-bottom: 1em;
}

figure{
    min-width: 100%;
    min-height: 100%;
}

img{
    min-width: 100%;
    min-height: 100%;
}
.comprar {
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.detalhes {
    padding: 2em 0;
}

table {
    font-size: 1.2em;
    border-spacing: 0.2em;
    border-collapse: separate;
}

thead {
    background-color: #999;
}

thead th {
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td {
    padding: 0.3em;
}

tr:nth-child(2n) {
    background-color: #CCC;
}

td:first-child {
    font-style: italic;
}