<!-- Just an image -->
<div class=".container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <figure class="figure">
            <img src="/storage/img/logo-rodape.png" class="figure-img img-fluid rounded" alt="Rodape">            
        </figure>        
        <li class="justify-content-end">
            <a class="navbar-brand justify-content-end" href="#">
                <img src="..//storage/img/facebook.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand justify-content-end" href="#">
                <img src="/storage/img/googleplus.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand justify-content-end" href="#">
                <img src="/storage/img//twitter.png" width="30" height="30" alt="">
            </a>
        </li>
    </nav>
</div>