@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
    transition: all 0.3s;   
}

#sidebar {
    background: #ffff;
    color: #333333;
    transition: all 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
}

.busca{
    margin-bottom: 5px;
}

.buscar-botao{
    margin-bottom: 10px;
}

#sidebar h2{
    padding: 10px;
    font-size: 150%;
}

#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 5px;
    background: #DCDCDC;
    margin-top: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.0em;
    display: block;
    border-bottom: 1px solid #DCDCDC;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #333333;
    background: #ffff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffff;
}

.painel {
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
}

.novidades {
    float: left;
    background: linear-gradient(#F5DCDC, #BEBEF4);
}

.mais-vendidos {
    float: right;
    background: linear-gradient(#DCDCF5, #F4BEBE);
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px rgba(255,255,255,0.8);
    padding-top: 10px;
}